h3{text-align: center;
    font-size: x-large;
}

table{
    border-spacing: 1.5rem;
    text-align: center;
    position: relative;
    left: 10%;
    width: 80%    
}
table thead{
    background-color: aquamarine;
}
td{
    background-color: brown;
}
